body {
  background-image: linear-gradient(to right, grey, lightgray);
}
.pic {
  width: 1175;
  height:1604.5;
  opacity: 0.5; 
  /* background-size: cover; */
}

@import url('https://fonts.googleapis.com/css?family=Warnes&display=swap');
