body {
  background-image: linear-gradient(to right, grey, lightgray);
}

#coverpic {
  opacity: 0.5;
  /* background-size: cover;  */
  width: 100%;
  height: 20%;
}

/* img {
  opacity: 0.5;
} */
/* 
#titlename {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
} */